$ff-primary: "Roboto", sans-serif;
$ff-secondary: "Open Sans", sans-serif;
$clr-grey1: #f1f5f8;
$clr-grey2: #102a42;
$clr-grey3: #617d98;
$clr-black: #222;
$clr-white: #fff;
$clr-gold: #c59d5f;
$spacing: 0.25rem;
$transition: all 0.3s linear;
$radius: 0.5rem;